# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build outputs
# =========================
bin/
obj/
out/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

# =========================
# Tooling / IDEs
# =========================
.vscode/
.idea/

# =========================
# Test results
# =========================
TestResults/

# =========================
# Docker
# =========================
**/docker-compose.override.yml
